<div class="container">
    <div span="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Exercises</div>
                <table class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Exercise Types</th>
                        <th>Muscles Worked</th>
                    </tr>
                    <tr ng-repeat="exercise in exercises">
                        <td>{{exercise.name}}</td>
                        <td>
                            <span class="label label-default" ng-repeat="exerciseType in exercise.exerciseTypes" class="list-group-item">{{exerciseType.name}}</span>
                        </td>
                        <td>
                            <span ng-repeat="muscleWorked in exercise.musclesWorked">
                                <span class="label label-default" class="list-group-item">{{muscleWorked.muscleGroup.name}} / {{muscleWorked.name}}</span>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" ng-controller="CreateExerciseController">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Exercise</h3>
                </div>
                <div class="panel-body">
                    <form name="exerciseForm">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" ng-required="true" class="form-control" ng-model="newExercise.name"/>
                            <span ng-show="exerciseForm.name.$error.required">* Required</span>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" ng-model="newExercise.description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Type</label><br/>
                            <span ng-repeat="exerciseType in exerciseTypes">
                                <input type="checkbox" value="{{exerciseType.name}}"
                                    ng-checked="exerciseTypesSelection.indexOf(exerciseType.name) > -1"
                                    ng-click="toggleExerciseTypesSelection(exerciseType.name)"
                                > {{exerciseType.name}}
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Muscle Region</label>
                            <select class="form-control" ng-model="selection.muscleRegion" ng-options="muscleRegion.label for muscleRegion in muscleRegions">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Muscle Group</label>
                            <select class="form-control" ng-model="selection.muscleGroup" ng-options="muscleGroup.name for muscleGroup in muscleGroups track by muscleGroup.name">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Muscle Heads</label>
                            <select ng-required="true" name="muscle_head" ng-required="true" class="form-control" ng-model="newExercise.musclesWorked" ng-options="muscleHead.name for muscleHead in muscleHeads track by muscleHead.name">
                            </select>
                            <span ng-show="exerciseForm.muscle_head.$error.required">* Required</span>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default btn-bg" ng-click="save()" ng-disabled="exerciseForm.muscle_head.$invalid || exerciseForm.name.$invalid || exerciseTypesSelection == 0">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>