<div class="container">
    <div class="form-group">
        <label>Muscle Region</label><br/>
        <span ng-repeat="muscleRegion in muscleRegions" style="margin-right:10px;">
            <input type="checkbox" value="{{muscleRegion}}"
                   ng-checked="muscleRegionSelection.indexOf(muscleRegion) > -1"
                   ng-click="toggleMuscleRegionSelection(muscleRegion)"
            > {{muscleRegion}}
        </span>
    </div>
    <button class="btn btn-default" ng-click="getExercises()">Spin</button>
    <br/><br/>
    <div class="machine-background clearfix">
        <div class="card card-2" style="border:1px solid #B1B1B1;" ng-repeat="exercise in exercises">
            <div style="background-color:#cfcece;padding:0 5px;height:50px;position:absolute;top:0;left:0;width:198px;border-bottom:1px solid #B1B1B1;">
                <h5 style="margin:10px 5px;font-weight:700;color:white;">{{exercise.name}}</h5>
            </div>
            <p style="margin:60px 10px 10px 10px;font-weight:400;">
                <span class="label label-default" ng-repeat="exerciseType in exercise.exerciseTypes" class="list-group-item">{{exerciseType.name}}</span>
            </p>
            <p style="margin:10px;font-weight:400;">
                <span ng-repeat="muscleWorked in exercise.musclesWorked">
                    <span class="label label-default" class="list-group-item">{{muscleWorked.muscleGroup.name}} / {{muscleWorked.name}}</span>
                </span>
            </p>
        </div>
    </div>
</div>