<div class="container">
    <div span="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Muscle Heads</div>
                <table class="table">
                    <tr ng-repeat="muscleHead in muscleHeads">
                        <td>{{muscleHead.name}}</td>
                        <td>{{muscleHead.muscleGroup.name}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" ng-controller="CreateMuscleHeadController">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Muscle Head</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="new.muscleHead.name"/>
                        </div>
                        <div class="form-group">
                            <label>Muscle Region</label>
                            <select class="form-control" ng-model="selection.muscleRegion" ng-options="muscleRegion.label for muscleRegion in muscleRegions">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Muscle Group</label>
                            <select class="form-control" ng-model="new.muscleHead.muscleGroup" ng-options="muscleGroup.name for muscleGroup in muscleGroups track by muscleGroup.name">
                            </select>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default btn-bg" ng-click="save()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>